<div class="container">
  <div class="custom">
    <div class="header">
      <div class="title">
        <h1>Популярные фильмы</h1>
      </div>
      <div class="search">
        <mat-form-field class="select">
          <mat-label>Жанр</mat-label>
          <mat-select [(value)]="selectedGenre">
            <mat-option value="all">Все</mat-option>
            <mat-option value="1">Драма</mat-option>
            <mat-option value="2">Биография</mat-option>
            <mat-option value="3">История</mat-option>
            <mat-option value="4">Фэнтези</mat-option>
            <mat-option value="5">Приключения</mat-option>
            <mat-option value="6">Боевик</mat-option>
            <mat-option value="7">Мультфильм</mat-option>
            <mat-option value="8">Комедия</mat-option>
            <mat-option value="9">Триллер</mat-option>
            <mat-option value="10">Детектив</mat-option>
            <mat-option value="11">Фантастика</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Введите название</mat-label>
          <input matInput type="text" [(ngModel)]="value" />
          <button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="content">
      <app-item
        *ngFor="let item of items"
        [item]="item"
        [isFavorite]="checkIsFavorite(item)"
        (likeClick)="toggleFavoriteItem(item)"
      ></app-item>
    </div>
  </div>

  <div class="favorite" *ngIf="favoriteItems.length > 0">
    <div class="header">
      <div class="title">
        <h1>Самый лучший фильм</h1>
      </div>
    </div>

    <div class="content">
      <app-item
        *ngFor="let item of favoriteItems"
        [item]="item"
        (likeClick)="toggleFavoriteItem(item)"
        [isFavorite]="true"
      ></app-item>
    </div>
  </div>
</div>
