.container {
  margin: 37px 25px 44px 25px;
}

.select {
  margin: 15px 7px 15px 0
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}

.content{
  display: flex;
  flex-flow: row wrap;
  app-item{
    width: 13%;
    margin: 0 10px 15px 0;
    flex: 1;
  }
}