.container {
  margin: 37px 25px 44px 25px;
}

.select {
  border: 1px solid rgba(121, 121, 121, 0.5);
  border-radius: 6px;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;

  color: #000000;
}
