<mat-dialog-content>
  <div class="image">
    <img
      mat-card-image
      src="{{ './../../../assets/images/' + item.id + '.jpeg' }}"
    />
  </div>

  <div class="description">
    <h2>{{ item.name }}</h2>
    <p>{{ reverseGenre() }}</p>
    <p>{{ item.year }}</p>
    <p>{{ item.description }}</p>

    <mat-dialog-actions align="end">
      <button mat-button color="{{isFavorite? 'warn' : 'primary'}}" (click)="toggleFavorite()">
        {{isFavorite ? 'Удалить из лучших фильмов': 'Выбрать лучшим фильмом'}}
      </button>
      <button mat-button [mat-dialog-close]="haveChange" color="warn">Закрыть</button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>
